

#blog-section{
    background-color: rgba(222, 184, 135, 0.429);
}
#blog-card {
    background-color: rgba(0, 128, 0, 0.156);

    
    
}

#blog-form{
    background-color: rgba(0, 128, 0, 0.156);
    width: 50%;
}