#career{
    /* height: 100vh; */
    background-color: rgba(222, 184, 135, 0.429);
}
#career-card{
    background-color: rgba(0, 128, 0, 0.188);
}

#table-all{
    background-color: rgba(0, 128, 0, 0.188)

}




