<ul class="d-none d-lg-flex justify-content-between gap-4 my-2 p-2" id="header-ul">
    <li class=""><a class="text-decoration-none" [routerLink]="['']" >Home</a></li>
    <li class=""><a class="text-decoration-none" [routerLink]="['pages']">Pages</a></li>
    <li class=""><a class="text-decoration-none" [routerLink]="['blog']" >Blog</a></li>
    <li class=""><a class="text-decoration-none" [routerLink]="['all-course']">All course</a></li>
    <li class=""><a class="text-decoration-none" [routerLink]="['contact']">Contact</a></li>
</ul>
